<?xml version="1.0" encoding="utf-8"?>
<DataType Key="953fba7c-23ca-4513-a951-032a71d7e06a" Alias="Product - Price - Decimal" Level="1">
  <Info>
    <Name>Product - Price - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 0,
  "step": 5
}]]></Config>
</DataType>