<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3f328e2b-89a9-4061-b744-6c04bca7c0a7" Alias="Product - Product Image - Media Picker" Level="1">
  <Info>
    <Name>Product - Product Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>