<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46dc91ff-c30b-4bc1-8f26-0680290a5bf2" Alias="TouchupXS - Hero Image - Media Picker" Level="1">
  <Info>
    <Name>TouchupXS - Hero Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,umbracoMediaVideo",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>