<?xml version="1.0" encoding="utf-8"?>
<Media Key="a83155bd-b533-4406-940c-4481843f960d" Alias="Automating Career Page Analysis 001" Level="2">
  <Info>
    <Parent Key="6fa68830-9a28-48b2-b1a9-27eb8dc4877a">banners</Parent>
    <Path>/banners/AutomatingCareerPageAnalysis001</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-13T11:53:53</CreateDate>
    <NodeName Default="Automating Career Page Analysis 001" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xnkddkbt/automating_career_page_analysis_001.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>