<?xml version="1.0" encoding="utf-8"?>
<Media Key="bdaa4e35-eb70-4cb7-9326-855c34bba5b7" Alias="Automating Career Page Analysis Thumbnail" Level="2">
  <Info>
    <Parent Key="6fa68830-9a28-48b2-b1a9-27eb8dc4877a">banners</Parent>
    <Path>/banners/AutomatingCareerPageAnalysisThumbnail</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-13T11:52:49</CreateDate>
    <NodeName Default="Automating Career Page Analysis Thumbnail" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gnhkvplq/automating_career_page_analysis_thumbnail.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>