<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf7e8f25-ad3e-425b-a2fb-cd7a9a8520fa" Alias="From Openai To AWS Bedrock 001" Level="2">
  <Info>
    <Parent Key="6fa68830-9a28-48b2-b1a9-27eb8dc4877a">banners</Parent>
    <Path>/banners/FromOpenaiToAWSBedrock001</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-13T12:07:52</CreateDate>
    <NodeName Default="From Openai To AWS Bedrock 001" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/eohh3tz4/from_openai_to_aws_bedrock_001.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>