<?xml version="1.0" encoding="utf-8"?>
<Media Key="41837c94-9986-4982-9e95-22d6701948fe" Alias="From Openai To AWS Bedrock 002" Level="2">
  <Info>
    <Parent Key="6fa68830-9a28-48b2-b1a9-27eb8dc4877a">banners</Parent>
    <Path>/banners/FromOpenaiToAWSBedrock002</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-13T12:07:52</CreateDate>
    <NodeName Default="From Openai To AWS Bedrock 002" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sj4igqmg/from_openai_to_aws_bedrock_002.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>