<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ffc99f9-a3a4-4746-be78-5d5e188eaf79" Alias="Istockphoto 1141748040 612X612" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/Istockphoto1141748040612X612</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-12T12:52:28</CreateDate>
    <NodeName Default="Istockphoto 1141748040 612X612" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/54mpyx3e/istockphoto-1141748040-612x612.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>