<?xml version="1.0" encoding="utf-8"?>
<Media Key="f77efc9d-aa43-4640-81bc-970ba31aa077" Alias="Piqsels.Com Id Sudmd" Level="2">
  <Info>
    <Parent Key="6fa68830-9a28-48b2-b1a9-27eb8dc4877a">banners</Parent>
    <Path>/banners/PiqselsComIdSudmd</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-13T11:08:52</CreateDate>
    <NodeName Default="Piqsels.Com Id Sudmd" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tp4h330d/piqselscom-id-sudmd.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>