<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c07dceb-642e-4fe4-bc42-b95bbfc5c2ab" Alias="Piqsels.Com Id Jrrmn" Level="2">
  <Info>
    <Parent Key="6fa68830-9a28-48b2-b1a9-27eb8dc4877a">banners</Parent>
    <Path>/banners/PiqselsComIdJrrmn</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-13T11:08:52</CreateDate>
    <NodeName Default="Piqsels.Com Id Jrrmn" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3xoaohbo/piqselscom-id-jrrmn.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>