<?xml version="1.0" encoding="utf-8"?>
<Media Key="49befb50-52be-4cd3-ab4f-c119362c0d37" Alias="Piqsels.Com Id Zbpzq" Level="2">
  <Info>
    <Parent Key="6fa68830-9a28-48b2-b1a9-27eb8dc4877a">banners</Parent>
    <Path>/banners/PiqselsComIdZbpzq</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-13T11:08:53</CreateDate>
    <NodeName Default="Piqsels.Com Id Zbpzq" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k13l2sn4/piqselscom-id-zbpzq.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>