<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c4c8dc2-ebb4-41c4-be96-39e4779040ef" Alias="Piqsels.Com Id Zbmuh" Level="2">
  <Info>
    <Parent Key="6fa68830-9a28-48b2-b1a9-27eb8dc4877a">banners</Parent>
    <Path>/banners/PiqselsComIdZbmuh</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-13T11:08:53</CreateDate>
    <NodeName Default="Piqsels.Com Id Zbmuh" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ysgfy1fu/piqselscom-id-zbmuh.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>