<?xml version="1.0" encoding="utf-8"?>
<Media Key="34f81de1-03fe-4331-9a92-10874c29e754" Alias="Streamline Your Workflows 006" Level="2">
  <Info>
    <Parent Key="6fa68830-9a28-48b2-b1a9-27eb8dc4877a">banners</Parent>
    <Path>/banners/StreamlineYourWorkflows006</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-13T12:19:27</CreateDate>
    <NodeName Default="Streamline Your Workflows 006" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/22opqnh4/streamline_your_workflows_006.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>