<?xml version="1.0" encoding="utf-8"?>
<Media Key="cacb7935-5af4-4083-83ab-c142f8169e00" Alias="Streamline Your Workflows 004" Level="2">
  <Info>
    <Parent Key="6fa68830-9a28-48b2-b1a9-27eb8dc4877a">banners</Parent>
    <Path>/banners/StreamlineYourWorkflows004</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-13T12:19:27</CreateDate>
    <NodeName Default="Streamline Your Workflows 004" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gn2nxsxu/streamline_your_workflows_004.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>