<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa0c0518-a132-417d-acbe-1348216d826d" Alias="Streamline Your Workflows 005" Level="2">
  <Info>
    <Parent Key="6fa68830-9a28-48b2-b1a9-27eb8dc4877a">banners</Parent>
    <Path>/banners/StreamlineYourWorkflows005</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-13T12:19:27</CreateDate>
    <NodeName Default="Streamline Your Workflows 005" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dycbz4rs/streamline_your_workflows_005.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>