<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3430074-0be0-4f38-a619-75ba4b76d660" Alias="Streamline Your Workflows Thumbnail" Level="2">
  <Info>
    <Parent Key="6fa68830-9a28-48b2-b1a9-27eb8dc4877a">banners</Parent>
    <Path>/banners/StreamlineYourWorkflowsThumbnail</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-13T12:19:27</CreateDate>
    <NodeName Default="Streamline Your Workflows Thumbnail" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oiaehy5a/streamline_your_workflows_thumbnail.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>