<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a75ac88-d90b-49f2-8e72-6824bbd80687" Alias="Streamline Your Workflows 002" Level="2">
  <Info>
    <Parent Key="6fa68830-9a28-48b2-b1a9-27eb8dc4877a">banners</Parent>
    <Path>/banners/StreamlineYourWorkflows002</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-13T12:19:27</CreateDate>
    <NodeName Default="Streamline Your Workflows 002" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r0whk4ql/streamline_your_workflows_002.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>