<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c94038d-8aec-4d99-9d59-b7fd8e9de37c" Alias="Touchup XS 1 Oz Touch Up Paint 3" Level="2">
  <Info>
    <Parent Key="6fa68830-9a28-48b2-b1a9-27eb8dc4877a">banners</Parent>
    <Path>/banners/TouchupXS1OzTouchUpPaint3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-15T13:49:10</CreateDate>
    <NodeName Default="Touchup XS 1 Oz Touch Up Paint 3" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rmbji5hm/touchup-xs-1-oz-touch-up-paint-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>