<?xml version="1.0" encoding="utf-8"?>
<Media Key="661032dd-9394-4451-bd01-b50ebc74c102" Alias="Vibe Coding Thumbnail" Level="2">
  <Info>
    <Parent Key="6fa68830-9a28-48b2-b1a9-27eb8dc4877a">banners</Parent>
    <Path>/banners/VibeCodingThumbnail</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-13T12:15:13</CreateDate>
    <NodeName Default="Vibe Coding Thumbnail" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1mzbazuu/vibe-coding-thumbnail.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>