<?xml version="1.0" encoding="utf-8"?>
<Media Key="592dde16-e132-4486-bf92-c6fb26ae7af7" Alias="Wallpaperflare.Com Wallpaper" Level="2">
  <Info>
    <Parent Key="6fa68830-9a28-48b2-b1a9-27eb8dc4877a">banners</Parent>
    <Path>/banners/WallpaperflareComWallpaper</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-13T11:08:52</CreateDate>
    <NodeName Default="Wallpaperflare.Com Wallpaper" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cdpc0wjs/wallpaperflarecom_wallpaper.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>