<?xml version="1.0" encoding="utf-8"?>
<Content Key="65291a79-a34a-4677-a1bb-99a3fcab8c73" Alias="Get a quote" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/GetAQuote</Path>
    <Trashed>false</Trashed>
    <ContentType>bookingPage</ContentType>
    <CreateDate>2026-02-13T15:49:17</CreateDate>
    <NodeName Default="Get a quote" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="376f7b64-625b-47e3-a6ae-967fd76e92a1">BookingPage</Template>
  </Info>
  <Properties />
</Content>