<?xml version="1.0" encoding="utf-8"?>
<Content Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-02-12T01:47:06</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="907d26a5-c929-4c69-bb1d-0d0d5342d6f6">home</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bfc949ab5489458689f30c6c93f2d619",
        "settingsUdi": "umb://element/e378d8aa96464bc4ba923cc44fa3af5c"
      },
      {
        "contentUdi": "umb://element/e28b976541224b41b39d4113c3f80324",
        "settingsUdi": "umb://element/ab1ab18f7b8c4ddf8e0fd8382791aa6a"
      },
      {
        "contentUdi": "umb://element/703df74310e4496aa0412f13ab041521",
        "settingsUdi": "umb://element/b7f06bb8c1ef4b7a86adaaf24ff1e96d"
      }
    ]
  },
  "contentData": [
    {
      "articleList": "umb://document/14e766739b714259aac3fc9507eb3bdb",
      "contentTypeKey": "60085a63-b77b-4509-9df4-bcb75db2755f",
      "pageSize": "3",
      "showPagination": "0",
      "udi": "umb://element/bfc949ab5489458689f30c6c93f2d619"
    },
    {
      "caption": "Papaoutai (Afro Soul)",
      "contentTypeKey": "f43c8349-0801-44b8-9113-9f7c62cd44fe",
      "udi": "umb://element/e28b976541224b41b39d4113c3f80324",
      "videoUrl": "https://www.youtube.com/watch?v=IuYsaw0qX9Y&list=LL&index=1"
    },
    {
      "contentTypeKey": "1c43fe2d-4a9a-4336-923f-9d0214950d48",
      "images": [
        {
          "key": "4cf2d427-03d9-4ba8-a800-1938ccb43785",
          "mediaKey": "592dde16-e132-4486-bf92-c6fb26ae7af7"
        },
        {
          "key": "38be09b4-9836-4ede-9f3d-2a9ce565fc70",
          "mediaKey": "f77efc9d-aa43-4640-81bc-970ba31aa077"
        },
        {
          "key": "f0df96f6-37a0-4776-a2ab-e70324252a27",
          "mediaKey": "9b8b9335-2370-4bca-ac2c-c1dd4087671f"
        },
        {
          "key": "42980a8c-28e7-4277-b664-d098f307395f",
          "mediaKey": "bdaa4e35-eb70-4cb7-9326-855c34bba5b7"
        },
        {
          "key": "0d0e438b-ffa4-4d94-bc64-e0941414acbd",
          "mediaKey": "5d397ae6-7dfd-4c23-a741-79957cffd31c"
        },
        {
          "key": "e8df6d10-0a9d-4da4-b4c7-71552513cb11",
          "mediaKey": "b8d796cd-3791-4bc0-9edc-ac9d4ef81932"
        },
        {
          "key": "c3e6f0e5-5d39-4951-aafc-a605cbdf723c",
          "mediaKey": "fa0c0518-a132-417d-acbe-1348216d826d"
        },
        {
          "key": "57d8e9c7-ed41-4b95-8456-8e0e8d6445b2",
          "mediaKey": "e3430074-0be0-4f38-a619-75ba4b76d660"
        }
      ],
      "udi": "umb://element/703df74310e4496aa0412f13ab041521"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c56fb5b8-0b89-4206-847e-a6fecd865b84",
      "hide": "0",
      "marginBottom": "",
      "marginLeft": "",
      "marginRight": "",
      "marginTop": "",
      "paddingBottom": "",
      "paddingLeft": "",
      "paddingRight": "",
      "paddingTop": "",
      "udi": "umb://element/e378d8aa96464bc4ba923cc44fa3af5c"
    },
    {
      "contentTypeKey": "eef34ceb-ddf6-4894-b1ac-f96c8c05d3d2",
      "hide": "0",
      "marginBottom": "",
      "marginLeft": "",
      "marginRight": "",
      "marginTop": "",
      "paddingBottom": "",
      "paddingLeft": "",
      "paddingRight": "",
      "paddingTop": "",
      "udi": "umb://element/ab1ab18f7b8c4ddf8e0fd8382791aa6a"
    },
    {
      "contentTypeKey": "378fde96-51b6-4506-93e3-ec3038e636bb",
      "hide": "0",
      "marginBottom": "",
      "marginLeft": "",
      "marginRight": "",
      "marginTop": "",
      "paddingBottom": "",
      "paddingLeft": "",
      "paddingRight": "",
      "paddingTop": "",
      "udi": "umb://element/b7f06bb8c1ef4b7a86adaaf24ff1e96d"
    }
  ]
}]]></Value>
    </contentRows>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "06c757ea-4fc7-4015-a639-01dc9e1c3b8b",
    "mediaKey": "865d33ad-b0f7-4b83-9364-0c6fd62d570a"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <socialIconLinks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/88b3cd1e0bd747fd9081ab4832c84241",
        "settingsUdi": "umb://element/c5fe35b5194e4ea2bee5f6baa0e0c5ad"
      },
      {
        "contentUdi": "umb://element/8fc94595272b475ab4f80b8da018f720",
        "settingsUdi": "umb://element/c96f976fae284027a336c5ea6b12b5f3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "17db13ba-bbd9-4a44-b28f-986301156754",
      "icon": [
        {
          "key": "1181c745-d10f-407a-8247-08f30dfe7e5c",
          "mediaKey": "6921a6b4-3a02-4354-83bf-344074c4d00d"
        }
      ],
      "link": [
        {
          "name": "View this package repository on GitHub",
          "target": "_blank",
          "url": "https://github.com/Hammadi6289"
        }
      ],
      "udi": "umb://element/88b3cd1e0bd747fd9081ab4832c84241"
    },
    {
      "contentTypeKey": "17db13ba-bbd9-4a44-b28f-986301156754",
      "icon": [
        {
          "key": "15c2a6a4-ec0f-4913-8478-0d8733757129",
          "mediaKey": "c08eb6e5-fbb7-4e57-b9b3-d35a9b088069"
        }
      ],
      "link": [
        {
          "name": "Follow us on X",
          "target": "_blank",
          "url": "https://twitter.com/codesharepaul"
        }
      ],
      "udi": "umb://element/8fc94595272b475ab4f80b8da018f720"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "84e89805-5a53-4dcf-930d-fd87c48572dd",
      "hide": "",
      "udi": "umb://element/c5fe35b5194e4ea2bee5f6baa0e0c5ad"
    },
    {
      "contentTypeKey": "84e89805-5a53-4dcf-930d-fd87c48572dd",
      "hide": "",
      "udi": "umb://element/c96f976fae284027a336c5ea6b12b5f3"
    }
  ]
}]]></Value>
    </socialIconLinks>
    <subtitle>
      <Value><![CDATA[The Best Solutions]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[XS TECH Software Solutions]]></Value>
    </title>
  </Properties>
</Content>