<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7df112f-5f79-437f-b3fb-9b50a18a08ec" Alias="Product Catalog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProductCatalog</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2026-04-15T13:21:04</CreateDate>
    <NodeName Default="Product Catalog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e834b999-9d09-4832-8607-aeeac9e3cffb">Product</Template>
  </Info>
  <Properties>
    <colorCode>
      <Value><![CDATA[9040]]></Value>
    </colorCode>
    <colorName>
      <Value><![CDATA[Black]]></Value>
    </colorName>
    <description>
      <Value><![CDATA[{
  "markup": "<p>TouchupXS 1oz Touch Up Paint</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <make>
      <Value><![CDATA[Mercedes-Benz  SL Class]]></Value>
    </make>
    <price>
      <Value><![CDATA[]]></Value>
    </price>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "a21d4004-23dc-4c27-823a-25d272d90f1e",
    "mediaKey": "7c94038d-8aec-4d99-9d59-b7fd8e9de37c"
  }
]]]></Value>
    </productImage>
    <productType>
      <Value><![CDATA[]]></Value>
    </productType>
  </Properties>
</Content>