<?xml version="1.0" encoding="utf-8"?>
<Content Key="34d17bde-76b2-4050-b376-013b52072512" Alias="Sameer Khawaja" Level="3">
  <Info>
    <Parent Key="8b97891b-bb88-4c50-827d-a458c3c2b7bb">Authors</Parent>
    <Path>/Home/Authors/SameerKhawaja</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2026-02-13T12:13:32</CreateDate>
    <NodeName Default="Sameer Khawaja" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d82c35ee-d4df-44bb-8747-1c7d1ae35ee1">Author</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "f3603a01-31d8-405e-86d0-dbbdb5fc673c",
    "mediaKey": "2fc90d5f-949b-4345-8da6-d0d6eff649ea"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Sameer Khawaja]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>