<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b722851-2c2c-46b0-8a45-612bdfee0d5b" Alias="Steve J" Level="3">
  <Info>
    <Parent Key="8b97891b-bb88-4c50-827d-a458c3c2b7bb">Authors</Parent>
    <Path>/Home/Authors/SteveJ</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2026-02-12T12:50:35</CreateDate>
    <NodeName Default="Steve J" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d82c35ee-d4df-44bb-8747-1c7d1ae35ee1">Author</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/66cad7badfa0490a868c47a81938ca44",
        "settingsUdi": "umb://element/90c5cea5f66248f188eae3315f7c569b"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "markup": "<p>Steve is a senior QA Engineer making the organizations foolproof by his regressive testing techniques.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/66cad7badfa0490a868c47a81938ca44"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "hide": "0",
      "marginBottom": "",
      "marginLeft": "",
      "marginRight": "",
      "marginTop": "",
      "paddingBottom": "",
      "paddingLeft": "",
      "paddingRight": "",
      "paddingTop": "",
      "udi": "umb://element/90c5cea5f66248f188eae3315f7c569b"
    }
  ]
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "c03177bc-be71-4356-b800-ed30f2b97c14",
    "mediaKey": "da949b32-5c1e-46a1-a882-e2bb493c6d68"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[QA Engineer]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Steve J.]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>