<?xml version="1.0" encoding="utf-8"?>
<Content Key="f408ebfb-67f9-48c3-8ba4-20d99975b690" Alias="Tayyaba Kanwal" Level="3">
  <Info>
    <Parent Key="8b97891b-bb88-4c50-827d-a458c3c2b7bb">Authors</Parent>
    <Path>/Home/Authors/TayyabaKanwal</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2026-02-13T12:18:51</CreateDate>
    <NodeName Default="Tayyaba Kanwal" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d82c35ee-d4df-44bb-8747-1c7d1ae35ee1">Author</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "4c92689f-8ac4-446d-ba45-0518f076f582",
    "mediaKey": "f1494a94-1f93-4c66-98b8-8283cbba94dc"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>