<?xml version="1.0" encoding="utf-8"?>
<Content Key="3cc7a173-0f39-46a9-a710-e3710238cb3c" Alias="TouchupXS" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TouchupXS</Path>
    <Trashed>false</Trashed>
    <ContentType>touchupXS</ContentType>
    <CreateDate>2026-04-15T13:35:40</CreateDate>
    <NodeName Default="TouchupXS" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="388926d2-42da-4f97-b818-68dd891bd86b">TouchupXS</Template>
  </Info>
  <Properties>
    <heroButtonText>
      <Value><![CDATA[Visit TouchupXS]]></Value>
    </heroButtonText>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "106908ba-6684-442c-956a-9091902cff45",
    "mediaKey": "1ffaaca2-4671-492d-b5fd-13b34c34c8a1"
  }
]]]></Value>
    </heroImage>
    <heroSubtitle>
      <Value><![CDATA[Shop for your desired Touchup Paint]]></Value>
    </heroSubtitle>
    <heroTitle>
      <Value><![CDATA[Touchup XS. A proud product of XS Tech]]></Value>
    </heroTitle>
  </Properties>
</Content>