<?xml version="1.0" encoding="utf-8"?>
<Content Key="3af1edf6-a659-4b64-915c-a16ed0957f86" Alias="Booking Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BookingPage</Path>
    <Trashed>false</Trashed>
    <ContentType>bookingPage</ContentType>
    <CreateDate>2026-02-13T16:06:07</CreateDate>
    <NodeName Default="Booking Page" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties />
</Content>